<h1>News</h1>
<p>
  Most recent update <%= time_ago_in_words(@feeds.map(&:updated_at).max) %> ago
</p>
<%= link_to 'Manage feeds', feeds_path, class: 'button' %>

<%= render partial: 'posts', object: @articles %>
