<h1>News</h1>
<p>
  Fetched <%= time_ago_in_words(@latest_scrape.updated_at) %> ago
  (<%= link_to 'details', news_path(@latest_scrape) %>)
</p>
<%= link_to 'Manage feeds', feeds_path, class: 'button' %>

<%= render partial: 'posts', object: @posts %>
