<div class="tweet">
  <%= render partial: "tweet_content", locals: { tweet: tweet } %>
  <% if params[:deb] %>
  <pre class="tweet-data-json"><%= JSON.pretty_generate(tweet.as_json) %></pre>
  <% end %>
</div>
