.twitter-profile {}

.twitter-profile-image {
  float: left;
  width: 48px;
  height: 48px;
}

.twitter-profile-attributes {
  margin-left: 56px;
  height: 48px;
}

.twitter-profile-name {
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.twitter-timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tweet {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px #eee;
  margin: 16px 0;
  padding: 16px;
  word-wrap: break-word;
}

.tweet-author-name {
  font-weight: 600;
  color: #444;
}

.tweet-author-screen-name {
  // font-weight: bold;
}

a.tweet-author-link {
  color: black;
  // text-decoration: none;
}

.tweet-media {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tweet-media-gif,
.tweet-media-photo,
.tweet-media-video {
  display: inline-block;
  margin: 0.5rem;
  padding: 0;
}

.tweet-media-gif-video,
.tweet-media-photo-img,
.tweet-media-video-video {
  max-height: 400px;
  max-width: 100%;
}

.tweet-data-json {
  background-color: #FFF9C4;
  max-height: 500px;
  overflow: auto;
}

.tweet-quote,
.tweet-retweet {
  margin: 0.5rem;
}
